@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
    font-size: 1px;
    font-family: "Arial", "Roboto Slab";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


.wrapper {
    margin: 0 auto;
    max-width: 960rem;

}

.page {
    padding: 30rem 0 40rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    column-gap: 28px;
}

.column {
    min-width: 219rem;
}

.header_bg {
    background-color: #1f1f56;
    /* padding: 25rem 0; */
    position: relative;
}

.header_menu li:hover .menu_head {
    display: block;

}

.header_menu>li {
    padding: 18rem 0;

}

ul {
    list-style: none;
}

.header_menu {
    column-gap: 25rem;
}

.header {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header_menu a {
    font-size: 14rem;
    letter-spacing: 2rem;
    color: #b1b1d2;
    text-decoration: none;
}


.sub_menu_head>li:not(:first-child) {
    /* padding: 10rem 30rem;*/
    width: 125rem;
    border-top: 1px solid #cecedd;
}

.sub_menu_head {
    position: absolute;
    left: 100%;
    top: 0rem;
    padding-left: 5rem;
}

.header_menu li {
    position: relative;
}

.header_menu .menu_head a {
    font-size: 12rem;
    padding: 10px;
}



.header_menu .menu_head>li>a::after {
    right: 10px;
    top: 14rem;
}

.menu_head {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -10rem;
    width: 125rem;
    padding-top: 5px;
}

.menu_head li {
    position: relative;
}

.menu_head>li:first-child>a {
    border-radius: 3rem 3rem 0 0;
}

.menu_head>li:last-child>a {
    border-radius: 0 0 3rem 3rem;
}

.sub_menu_head li:first-child a {
    border-radius: 3rem 3rem 0 0;
}

.sub_menu_head li:last-child a {
    border-radius: 0 0 3rem 3rem;
}

.contacts a:hover {
    color: #fd8300;
}

.header_imgs a {
    margin-left: 25rem;
    background-image: url(../images/hata_plus_sprites.png   );
    display: inline-block;
}

.header_imgs {
    padding-top: 18rem;
}

.fb {
    width: 10px;
    height: 19px;
    background-position: 0px -22px;
}

.fb:hover {
    background-position: 0 0px;
}

.tw {
    width: 19px;
    height: 16px;
    background-position: -13px -22px;
}

.tw:hover {
    background-position: -13px 0px;
}

.inst {
    width: 20px;
    height: 20px;
    background-position: -36px -22px;
}

.inst:hover {
    background-position: -36px 0px;
}

.header_content {
    padding: 30rem 0;
}

.header_content a:hover {
    text-decoration: underline;
}

.contacts a {
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding-left: 30rem;
}

.contacts a:before {
    content: "";
    background-image: url(../images/hata_plus_sprites.png);
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 3rem;
}

.tel::before {
    width: 16px;
    height: 17px;
    background-position: 60px 0;
}

.tel:hover::before {
    background-position: 60px -23px;
}

.tel2::before {
    width: 16px;
    height: 0px;
    background-position: 60px -23px;
}

.email::before {
    width: 17px;
    height: 13px;
    background-position: -80px 0px;
}

.email:hover::before {
    background-position: -80px -23px;
}

div a.email {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

div a.email:hover {
    text-decoration: none;
}

div a:hover {
    text-decoration: underline;
}

div a.skype {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}


.skype::before {
    width: 18px;
    height: 19px;
    background-position: -100px 0px;
}

.skype:hover::before {
    background-position: -100px -23px;
}

.button {
    text-align: right;
}

.button a {
    min-width: 200rem;
    display: inline-block;
    padding: 15rem;
    box-sizing: border-box;
    font-size: 16rem;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    border-radius: 250rem;
    border: 2px solid #fd8300;
    color: #25252c;
    font-weight: bold;
    transition: .2s;
}

.button a:hover {
    background-color: #fd8300;
    text-decoration: none;
    box-shadow: 1px 3px 5px 3px #1f1f56,
        5px 5px 7px 5px gray,
        inset 1px 3px 7px 3px #ffc282;
    /* border: 2px solid #fff; */

}

.sale {
    background-image: url(../images/hata-.png);
    background-size: cover;
}

.big {
    font-size: 30rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 35rem 0 20rem;
}

.smol {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

.price {
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    padding: 20rem 0 35rem;
}

.smol_price {
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.smol_price sup {
    font-size: 0.7em;
}

.content {
    max-width: 670rem;
}

.content h1 {
    font-size: 30rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.content p {
    font-size: 14rem;
    line-height: 24rem;
    color: #666;
    font-family: "Arial";
    margin-top: 10rem;
}

.content a {
    font-size: 14rem;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    margin-top: 15rem;
    display: inline-block;
}

.content a:hover {
    text-decoration: none;
}

.project {
    font-size: 32rem;
    position: relative;
}

.project a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project:hover h3 {
    text-decoration: underline;
}

hr {
    margin: 30px 0;
    border-width: 0;
    border-top: 1px solid #e4e4ec;
}

.aside {
    font-size: 32rem;
}

.aside nav {
    position: sticky;
    top: 1px;
}

.projects h2 {
    margin-bottom: 25rem;
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.projects h3 {
    font-size: 14rem;
    line-height: 24rem;
    color: #1f1f56;
}

.projects p {
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
}

.aside p {
    font-size: 16rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    border-radius: 3px 3px 0 0;
    background-color: #1f1f56;
    padding: 10rem 15rem;
}

.aside li:last-child {
    border-radius: 0 0 3px 3px;
}

.menu a {
    font-size: 14rem;
    color: #25252c;
    text-decoration: none;
    display: block;
    padding: 15rem 15rem;
    position: relative;
}

.menu a,
.sub_menu a {
    background-color: #e4e4ec;

}

.menu>li:not(:first-child) {
    border-top: #cdcddd solid 1rem;
}

.menu>li>a::after {
    content: "";
    border-left: 2px solid #666;
    border-top: 2px solid #666;
    width: 5rem;
    height: 5rem;
    transform: rotate(135deg);
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 15px;
    transition: transform .2s;
}

.menu a:hover::after {
    transform: rotate(225deg);
    border-color: white;
}

.menu a:hover {
    background-color: #fd8300;
    color: #ffffff;
}

.menu li:hover .sub_menu {
    display: block;
}

.sub_menu {
    display: none;
}

.sub_menu a {
    font-size: 14rem;
    color: #666666;
    text-decoration: none;
    background-color: #e4e4ec;
    padding: 15rem 30rem;
}

.sub_menu a:hover {
    background-color: #cecedd;
}

h1 {
    font-size: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin: 0 0 22rem 0;
}

.table_main p {
    font-size: 14rem;
    color: #666666;
    font-family: "Arial";
    margin: 25rem 0;
}

.table_main a {
    font-size: 14rem;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.table_main a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table td:first-child {
    width: 33%;
}

.table td:not(:first-child) {
    text-align: center;
}

.table td:last-child {
    text-align: right;
}

.table tr:not(:first-child) {
    border-top: 1px solid #cecedd;

}

.table td:not(:first-child) {
    border-left: 1px solid #cecedd;

}

.table thead tr:not(:first-child) {
    border-top: 1px solid #274569;

}

.table tr:not(:first-child) th,
.table th:not(:last-child) {
    border-right: 1px solid #274569;

}


.table tr:first-child th:first-child {
    border-radius: 3px 0 0 0;
}

.table tr:first-child th:last-child {
    border-radius: 0 3rem 0 0;
}

.table tr:last-child td:last-child {
    border-radius: 0 0 3rem 0;
}

.table tr:last-child td:first-child {
    border-radius: 0 0 0 3rem;
}

.table th {
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    padding: 5rem 20rem;
}

.table td {
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    font-family: "Arial";
    background-color: #e4e4ec;
    padding: 7.5rem 20rem;
}

.table tr:hover td {
    background-color: #fd8300;
    color: #fff;
}



.forms h2 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.contacts-1 {
    padding-bottom: 25rem;
}

.contacts-1 p {
    padding-top: 10rem;
}

.contacts-1 p {
    font-size: 14rem;
    color: #666;
    font-family: "Arial";
}

.contacts-1 h1 {
    font-size: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    /* padding-top: 5rem; */
}

.contacts-1 h2 {
    font-size: 14rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    /* padding-top: 5rem; */
    /* padding-bottom: ; */
}

.contacts-1 a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    padding: 25rem 0;
}

.map {
    min-width: 45%;
    max-width: 470px;
    height: 300px;
    overflow: hidden;
    width: 100%;
}

.map iframe {
    border: none;
    width: 100%;
    height: 360px;
    margin-top: -60px;
}

.content-1 {
    margin-top: 50px;
    justify-content: space-between;
    column-gap: 28px;
}

.int {
    padding: 5px;
    display: block;
}

.int *:focus {
    outline: none;
    border: 1px solid #fd8300;

}

.int input,
textarea {
    padding: 10px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.int *::placeholder {
    font-size: 13rem;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

.intname {
    border-radius: 3px;
}

.int textarea {
    padding: 10rem;
    width: 100%;
    resize: vertical;
    min-height: 105px;
    max-height: 150px;
}

.intsend input {
    padding: 11px 0;
    min-width: 140px;
    /* height: 41px; */
    border-radius: 21px;
    background-color: #fd8300;
    outline: none;
    border: 2px solid #fd8300;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    transition: 0.1s;
}

.intsend {
    margin-right: 25px;
    display: inline;
}

.intsend input:hover {
    background-color: #fff;
    color: #fd8300;
    cursor: pointer;
}

.intcheck {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.intcheck input {
    appearance: none;
    position: relative;
    margin-right: 10px;
    margin-bottom: -1px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #c5c5d4;
}

.intcheck input:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 4px;
    width: 4px;
    height: 8px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;

}

.intcheck input:checked:after {
    border-color: #1f1f56;
    transform: rotate(45deg);
}

.forms {
    width: 100%;
}

.forms td input {
    width: 100%;
}

footer {
    background-color: #ededf5;
}

footer .wrapper {
    padding: 35rem 0 20rem;
}

footer a {
    font-size: 14rem;
    line-height: 26rem;
    color: #666666;
    text-decoration: none;
}

footer a:hover {
    color: #fd8300;
    text-decoration: underline;
}

footer p {
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    font-family: "Arial";
}

.copyright {
    background-color: #dcdce6;
    padding: 15rem 0;
    text-align: center;
}