@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
    font-size: 1px;
    font-family: "Arial", "Roboto Slab";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 960rem;

}

.page {
    padding: 30rem 0 40rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    column-gap: 28px;
}

.column {
    min-width: 219rem;
}

.header_bg {
    background-color: #1f1f56;
    padding: 25rem 0;
}

ul {
    list-style: none;

}

.header_menu a {
    font-size: 14rem;
    letter-spacing: 2rem;
    color: #b1b1d2;
    text-decoration: none;
    margin-right: 25rem;
}

.header a:hover {
    color: #fd8300;
}

.header_imgs a {
    margin-left: 25rem;
    background-image: url(../images/hata_plus_sprites.png   );
    display: inline-block;
}

.fb {
    width: 10px;
    height: 19px;
    background-position: 0px -22px;
}

.fb:hover {
    background-position: 0 0px;
}

.tw {
    width: 19px;
    height: 16px;
    background-position: -13px -22px;
}

.tw:hover {
    background-position: -13px 0px;
}

.inst {
    width: 20px;
    height: 20px;
    background-position: -36px -22px;
}

.inst:hover {
    background-position: -36px 0px;
}

.header_content {
    padding: 30rem 0;
}

.header_content a:hover {
    text-decoration: underline;
}

.contacts a {
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding-left: 30rem;
}

.contacts a:before {
    content: "";
    background-image: url(../images/hata_plus_sprites.png);
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 3rem;
}

.tel::before {
    width: 16px;
    height: 17px;
    background-position: 60px 0;
}

.tel:hover::before {
    background-position: 60px -23px;
}

.tel2::before {
    width: 16px;
    height: 0px;
    background-position: 60px -23px;
}

.email::before {
    width: 17px;
    height: 13px;
    background-position: -80px 0px;
}

.email:hover::before {
    background-position: -80px -23px;
}

.skype::before {
    width: 18px;
    height: 19px;
    background-position: -100px 0px;
}

.skype:hover::before {
    background-position: -100px -23px;
}

.button {
    text-align: right;
}

.button a {
    min-width: 200rem;
    display: inline-block;
    padding: 15rem;
    box-sizing: border-box;
    font-size: 16rem;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    border-radius: 250rem;
    border: 2px solid #fd8300;
    color: #25252c;
    font-weight: bold;
}


.button a:hover {
    background-color: #fd8300;
    text-decoration: none;
}

.sale {
    background-image: url(../images/hata-.png);
    background-size: cover;
}

.big {
    font-size: 30rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 35rem 0 20rem;
}

.smol {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

.price {
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    padding: 20rem 0 35rem;
}

.smol_price {
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.smol_price sup {
    font-size: 0.7em;
}

.content h1 {
    font-size: 30rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.content p {
    font-size: 14rem;
    line-height: 24rem;
    color: #666;
    font-family: "Arial";
    padding-top: 5rem;
}

.content a {
    font-size: 14rem;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    margin-top: 15rem;
    display: inline-block;
}

.content a:hover {
    text-decoration: none;
}

.project {
    font-size: 32rem;
    position: relative;
}

.project a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project:hover h3 {
    text-decoration: underline;
}

hr {
    margin: 30px 0;
    border-width: 0;
    border-top: 1px solid #e4e4ec;
}

.aside {
    font-size: 32rem;

}

.aside nav {
    position: sticky;
    top: 1px;
}

.projects h2 {
    margin-bottom: 25rem;
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.projects h3 {
    font-size: 14rem;
    line-height: 24rem;
    color: #1f1f56;
}

.projects p {
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
}

.aside p {
    font-size: 16rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    border-radius: 3px 3px 0 0;
    background-color: #1f1f56;
    padding: 10rem 15rem;
}

.menu a {
    font-size: 14rem;
    line-height: 24rem;
    color: #25252c;
    text-decoration: none;
    background-color: #e4e4ec;
    display: block;
    padding: 10rem 15rem;
    position: relative;
}

.menu>li:not(:first-child){
    border-top: #cdcddd solid 1rem;
}

.menu>li>a::after {
    content: "";
    border-left: 2px solid #666;
    border-top: 2px solid #666;
    width: 5rem;
    height: 5rem;
    transform: rotate(135deg);
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 15px;
    transition: transform .2s;
}

.menu a:hover::after {
    transform: rotate(225deg);
    border-color: white;
}

.menu a:hover {
    background-color: #fd8300;
    color: #ffffff;
}

.menu li:hover .sub_menu{
    display: block;
}

.sub_menu{
    display: none;
}

.sub_menu a {
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    text-decoration: none;
    background-color: #e4e4ec;
    padding: 10rem 30rem;
}

.sub_menu a:hover {
    background-color: #cecedd;
}